

.content > mat-card {
    width: 200px;
}
.mat-form-field {
  margin-left: 10px;
}

.mat-card-title {
  text-transform: capitalize;
}

.pokemon-info {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  padding-top: 1em;
}
.mat-card-image{
  width: calc(60% + 32px);
  margin: 0 16px 16px 28px;
  height:120px;
}

.mat-paginator {
  padding: 2em 0;
}
.loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}
.pokemon-card {
  color: auto;
  background-color:#fffefc;
  padding:12px;
  min-height: 369px;
}
.pokemon-card:hover {
 background-color: #eee;
 cursor: pointer;
}
.pokemon-list{
  padding-top:50px;
}
.controls-div{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
.search-box {
  padding-bottom: 20px;
  text-align: left;
}
.sorter-box > .mat-form-field-wrapper{
  padding-bottom: 21px;
}
.mat-grid-tile .mat-figure {
  justify-content: left !important ;
  align-items: flex-start !important;
}
.search-input {
  font-size: 14px;
  font-weight: bold;
  padding: 2px 5px 2px 20px;
  width: 270px;
  padding: 21px 16px;
  border-bottom: 1px solid #7e7878;
  background: #eee;
  outline: none !important;
  text-align: left;
}

.no-data {
  display:flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: #000;
}
.control-list{
  margin-bottom: 24px;
  border-bottom: 1px solid #ccc;
}
.mat-form-field{
  width: 300px;
}
.mat-icon-button{
  margin-left: -50px;
    /* line-height: 4; */
    margin-top: 12px;
}