<app-header></app-header>
<div class="loading" *ngIf="!isProcessing">
    <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value"> Loading...
    </mat-progress-spinner>
</div>
<section class="pokemon-list">
    <div class="content" *ngIf="pokeMonDataList.length; else noData">

        <div class="pokemon-list-filter">
            <mat-form-field appearance="fill">
                <mat-label>Sort By</mat-label>
                <select matNativeControl [(ngModel)]="sortKey">
                    <option value="id">id</option>
                    <option value="name">Name</option>
                    <option value="height">Height</option>
                    <option value="weight">Weight</option>
                </select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Search</mat-label>
                <input matInput class="" type="text" [(ngModel)]="query" placeholder="Enter pokemon name or ability"
                    autocomplete="off">
            </mat-form-field>
            <button *ngIf="query" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
                <mat-icon>clear</mat-icon>
            </button>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%"
                *ngFor="let pokemon of pokeMonDataList | sortBy: {property: sortKey, direction: 1} | search: query">
                <mat-card class="pokemon-card">
                    <a href="javascript:void(0);" alt="Showing card of {{pokemon.name}}"
                        [routerLink]="['/pokemon',pokemon.id]">
                        <mat-card-header>
                            <mat-card-title>{{pokemon.name}}</mat-card-title>
                            <mat-card-subtitle>
                                #{{pokemon.id}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{pokemonImageBaseUrl}}/{{pokemon.id}}.svg"
                            alt=" photo of {{pokemon.name}}">
                        <mat-card-content>
                            <div class="pokemon-info">
                                <div>Height: <b>{{pokemon.height/10}} m</b></div>
                                <div>Weight: <b>{{pokemon.weight/10}} kg</b></div>
                            </div>
                            <div class="abilities">
                                <p>Abilities</p>
                                <ul>
                                    <li *ngFor="let abilities of pokemon.abilities"> {{abilities.ability.name}}</li>
                                </ul>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <mat-chip-list aria-label="Fish selection" *ngIf="pokemon.types">
                                <ng-container *ngFor="let types of pokemon.types">
                                    <mat-chip class="chip-{{types.type.name}}">{{types.type.name}}</mat-chip>
                                </ng-container>
                            </mat-chip-list>
                        </mat-card-actions>

                    </a>
                </mat-card>
            </div>
        </div>

        <mat-paginator #paginator [pageSize]="limit" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true"
            [length]="totalCount" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
        </mat-paginator>
    </div>
    <ng-template #noData>
        <p class="no-data">{{noDataMessage}}</p>
    </ng-template>

</section>