<app-header></app-header>

<section>
    <a href="javascript:void(0);" [routerLink]="['/pokemon']">Back to List</a>
    <div class="content">

        <div class="first-div">
            <img src="{{pokemonData.sprites.front_default}}" alt=" photo of {{pokemonData.name}}">
        </div>

        <div class="second-div">
            <h2>{{pokemonData.name}}</h2>
            <p>Height: {{pokemonData.height}}</p>
            <p>Weight: {{pokemonData.weight}}</p>
            <p>Abilities</p>
            <ul>
                <li *ngFor="let abilities of pokemonData.abilities"> {{abilities.ability.name}}</li>
            </ul>

        </div>

        <div class="third-div">
            <p>Moves</p>
            <ul id="moves">
                <li *ngFor="let moves of pokemonData.moves"> * {{moves.move.name}}</li>
            </ul>
        </div>
    </div>
</section>